<!-- General Styles -->

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f7faff;
    color: #1a1a1a;
    padding: 1rem
}

h1, h2{
    color: #1f3c88;
    margin-bottom: 1rem;
    font-weight: 600;}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    margin-top: 2rem;
}

p{
    margin-bottom: 1rem;
    color: #2a2a2a;
}

section{
    margin-bottom: 3rem;
}

<!-- Form -->
form div{
    margin-bottom: 1rem;
}

label{
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #1f3c88;
}






footer{
  margin-top: 3rem;  
  padding-top: 2rem;
  border-top: 1px solid #c7d4ec;
}

footer ul{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

footer img{
    height: 30px;
    width: 30px;
    display: block;
    filter: brightness(0) saturate(100%) invert(20%) sepia(20%) hue-rotate(190deg) saturate(300%) brightness(90%);
}